<%- include("header"); -%>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 jumbo">
      <h1 class="display-5 fw-bold heading">Thanks for participating in the experiment.</h1>
    </div>
</div>

<%- include("footer"); -%>