<!DOCTYPE html>
<html>
<head>
	<title>Color Picker</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div id="color-picker-container">
		<div id="color-picker"></div>
		<div id="color-picker-marker"></div>
	</div>

	
    <script src="/scripts/color.js"></script>
</body>
</html>
