<%- include("partials/header"); -%>


<div class="inst head">
    <h1> Intructions</h1>
    <h3> Follow the instrcutions to perform the experiment</h3>

    <p>Step 1: You will see a Banana or a Rectangle of shades from yellow to orange. You will also get 2 options slider or button choice.</p>
  <ul>
    <li><img src="images/banana-choice.jpeg" alt="bc" height="250" width="500"></li>
    <li><img src="images/banana-slider.jpeg" alt="bs" height="250" width="500">
    </li>
      <li><img src="images/rectangle-choice.jpeg" alt="rc"height="250" width="500">
      </li>
        <li><img src="images/rectangle-slider.jpeg" alt="rs"height="250" width="500">
        </li>
  </ul>
    <p>Step 2: You have to select the best match of object color from the given options of slider and button.</p>
    <p>Note: Select the color that best matches to the object color.</p>
    <form action="">
    <div class="btn">
        <input type="hidden" class="sliderRGB" id="slider" name="sliderRGB">
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
    </form>
</div>

<%- include("partials/footer"); -%>
