<%- include("partials/header"); -%>
<div class="p-4 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 jumbo">
      <!-- <h1 class="display-5 fw-bold heading">Memory Color</h1> -->
      <div class="instruction-text">
        <p class="display-5 fw-bold heading">Welcome to the experiment</p>
      </div>
        
        <form action="/form" method="post">
          <button type="submit" class="btn btn-dark">Get Started</button>
        </form>
        
        <p></p>
    </div>
</div>

<%- include("partials/footer"); -%>