.centering{
    position: relative;
        padding-left:23.00%;
        padding-right: 15%;
    }
    .column {
        
        width: auto;
        padding: 10px;
        
      }
     
      .square {
        width: 100px;
        height: 100px;
        display: inline-block;
        
    }
    .orange {
        background-color: orange;
    }
    .amber {
        background-color: rgb(255, 191, 0);
    }
    .yellow {
        background-color: yellow;
    }
    .insbanana{
        position: relative;
        right: 250px;
        fill: #FFBF00;
    }

    .insrectangle{
        position: absolute;
        left: 250px;
        fill: #FFBF00;
    }
    .insslider{
        display: inline-block;
        right: 250px;
        margin-right: 140px;
    }
    .inschoice{
        display: inline-block;
        margin-bottom: 15px;
        margin-right: 65%;
    }
    .heading{
        padding-top: 35px;
        font-size: 3.5rem;
    }
    .row{
        justify-content: center;
        padding: 9px;

    }

#color-picker {
    width: 335px;
    height: 30px;
    background: linear-gradient(to right, rgb(255, 255, 0), rgb(255, 252, 0), rgb(255, 249, 0), rgb(255, 246, 0), rgb(255, 243, 0), rgb(255, 240, 0), rgb(255, 237, 0), rgb(255, 234, 0), rgb(255, 231, 0), rgb(255, 228, 0), rgb(255, 225, 0), rgb(255, 222, 0), rgb(255, 219, 0), rgb(255, 216, 0), rgb(255, 213, 0), rgb(255, 210, 0), rgb(255, 207, 0), rgb(255, 204, 0), rgb(255, 201, 0), rgb(255, 198, 0), rgb(255, 195, 0), rgb(255, 192, 0), rgb(255, 189, 0), rgb(255, 186, 0), rgb(255, 183, 0), rgb(255, 180, 0), rgb(255, 177, 0), rgb(255, 174, 0), rgb(255, 171, 0), rgb(255, 168, 0), rgb(255, 165, 0), rgb(255, 162, 0), rgb(255, 159, 0));
    border: 1px solid black;
    
    
}
/*og color picker*/
    /* #color-picker-marker {
        width: 10px;
        height: 30px;
        background-color: white;
        border: 2px solid black;
        position: relative;
        top: -5px;
        left: 0;
        
    } */
    #color-picker-marker {
        width: 10px;
        height: 30px;
        background-color: white;
        border: 2px solid black;
        position: relative;
        top: -5px;
        left: 0;
      }
      
      
/* #color-picker-container{
    display: flex;
    justify-content: center;
    align-items: center;
} */

#h3head{
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}
.jumbo{
    color: black;
    text-align: center;
}
.heading{
    margin-top: -40px;
    font-family: 'Merriweather Sans', sans-serif;
}
.btn{
    /* margin-top: 10px;
    margin-bottom: -20px; */
}

.instructionp{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: x-large;
    margin-right: 5px;
}
.instruction-text{
    
    padding: 5%;
}
.instruction-text1{
    
    padding: 3%;
}
.middle{
    padding: 4% 29% 2%;
    
}
.middle1{
    padding: 4% 27% 2%;
    
}
    
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

.agebox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.genderbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:20px;
    padding-bottom: 10px;
}
.gender{
    margin-right: 20px;
}
/* .formbox{
    display: flex;
    justify-content: center;
    align-items: center;
} */
#age{
    width: 7%;
    margin: 0 20px;
    
}

    